html {
  font-family: sans;
}

:root {
  --primary-bg-color: #0097a7;

  /* These two colors are by default white and black, and represent everyday
   * elements like text and the white page background. */
  --primary-light-color: #000;
  --primary-dark-color: #FFF;

  /* These gray colors are generally used to offset from normal text */
  --dark-color-one: #AAA;
  --dark-color-two: #888;
  --dark-color-three: #666;

  /* This color is generally used for disabled items in the UI */
  --dark-color-disabled: #938d8b;

  /* This color is used for higlighting */
  --light-color-highlight: #a8201a;
}

html, button, input, select, textarea, .pure-g [class *="pure-u"] {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 21px;
  line-height: 1.5;
}

.pure-menu-link {
  margin: 0.2em;
  padding: 0;
  height: 100%;
  text-align: center;
  color: var(--primary-dark-color);
}

.pure-menu-link:hover {
  background-color: rgb(255, 255, 255, 0.5);
  color: var(--primary-bg-color);
}

.topnav {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin-bottom: 1em;
  background-color: var(--primary-bg-color);
  color: var(--primary-dark-color);
}

.topnav p {
  padding: 0;
  margin: 0;
}

.centre-brand {
  display: block;
  margin: 0;
}

.brand {
  color: var(--primary-dark-color);
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}

.right-menu {
  float: right;
}

.article-byline {
  margin-top: 1em;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 0.8em;
  text-align: left;
  color: var(--dark-color-three);
}

.reblog-line {
  margin-top: 1em;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 1em;
  text-align: left;
  color: var(--dark-color-three);
}

.article-title {
  font-family: Lato;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 2.6em;
  line-height: 1.1em;
  text-decoration: none;
  color: var(--primary-light-color);
}

.article-body {
  padding-bottom: 1em;
  word-break: break-all;
}

.author-about {
  color: var(--dark-color-three);
  font-size: 0.75em;
  margin-top: 1em;
}

.author-thumbnail {
  width: 100%;
  border-radius: 4px;
}

.author-displayname {
  margin: 0;
  margin-right: 10px;
  font-weight: bold;
  font-size: 1.15em;
  color: var(--dark-color-three);
  text-decoration: none;
}

.author-displayname:hover {
  color: var(--dark-color-two);
}

.author-handle {
  font-style: italic;
  color: var(--dark-color-two);
}

.author-bio {
  word-break: break-all;
  color: var(--dark-color-three);
  font-size: 0.88em;
}

.author-handle:hover {
  color: var(--dark-color-one);
}

.blog-post-holder {
  width: 100%;
}

.edit-wrapper {
  text-align: right;
  display: inline-block;
  width: 59%;
  padding-left: 4.5%;
  vertical-align: middle;
}

.follow-list {
  padding-bottom: 1em;
}

.user-menu {
  font-family: Lato;
  text-align: center;
}

.user-menu a {
  margin-right: 5%;
}

.home-menu {
  float: left;
  text-align: left;
}

.menu-dropdown {
  background-color: var(--primary-bg-color);
  color: var(--primary-dark-color);
}

.button-link {
  background: none;
  border: none;
  padding: 0;
}

.pure-menu-has-children>.button-link::after {
  font-size: medium;
}

.pure-form .search-rounded[name="query"] {
  color: var(--primary-bg-color);
  border-radius: 2em;
  padding: .1em 0.5em;
}

.search-form {
  float: right;
}

.search-button {
  color: var(--primary-bg-color);
  background-color: var(--primary-dark-color);
  border-radius: 1em;
  padding: .2em 0.2em;
}

.primary-button {
  background: var(--primary-bg-color);
}

@media only screen and (max-width: 700px) {
  .search-form {
    display: none;
  }
}

button.follow-button {
  text-align: right;
  min-width: 8em;
  font-size: 0.9em;
}


/* When it is not hovered, Unfollow button says "Following" and is grey. */

button.follow-button.unfollow {
  background-color: var(--dark-color-disabled);
}

button.follow-button .unfollow-button-content {
  display: none;
}

button.follow-button .following-button-content {
  display: block;
}


/* When it is hovered, Unfollow button says "Unfollow" and turns red. */
button.follow-button.unfollow:hover {
  background-color: var(--light-color-highlight);
}

button.follow-button:hover .following-button-content {
  display: none;
}

button.follow-button:hover .unfollow-button-content {
  display: block;
}

button.follow-button svg {
  float: left;
  padding-right: 0.5em;
}

.follow-holder {
  float: right;
}

.username-holder {
  float: left;
}

.user-dropdown {
  background-color: var(--primary-bg-color);
  color: var(--primary-dark-color);
}

.full-search-form {
  width: 100%;
}

.reblog-icon {
  color: var(--primary-light-color);
  background-color: var(--primary-bg-color);
  padding: 4px 4px 4px 4px;
}

.reblog-icon-reblogged {
  color: var(--primary-light-color);
  background-color: var(--dark-color-disabled);
  padding: 4px 4px 4px 4px;
}

.shares-count {
  margin-top: 0;
}

.react-tagsinput-tag {
  background-color: #0097a7;
  color: #FFF;
  border: none;
}

.post-tag {
  color: #0097a7;
  border: 1px solid #0097a7;
}
