html {
  font-family: sans;
}

.topnav {
  padding-top: 1em;
  padding-bottom: 2em;
}

.centre-brand {
  display: block;
  text-align: center;
}

.brand {
  font-size: 2em;
  text-decoration: none;
  color: black;
}

.right-menu {
  float: right;
}

.byline {
  font-size: .9em;
  text-align: left;
  font-weight: normal;
}
